# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We extended the standard .gitignore from GitHub to ignore the marked additions
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Build stuff
# generated directories of build products
build/
# generated directories of Debug versions
Debug/
# generated directories of Release versions
Release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# linking
*.ilk  
# debugging             
*.pdb               

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
demomodel
leonApp
mtchApp
demoutils
agdemo
csg
mwdemo
pmdemo
rpdemo
KTAB_SMP
smpc
smpcDyn


# intermediate build products
*.exe*    
*.out
*.app

# Visual Studio temp files
*.suo
*.VC.db

# cached by CMake          
CMakeLists.txt.user    

# Project files
.kdev4*
*.kdev4

# log files
*log.txt
# =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
